{% extends "blog/base.html" %}
{% load static %}

{%  block content %}



    <!------------------ portfolio section ------------------>
    <div class="portfolio-title">
        <h2>Portfolio</h2>
        <div class="my-profile-snippet">
            <div class="my-profile-introduction">
                <h1>Hi, I'm Albert Frimpong</h1>
                <p>
                    I'm a freelance software developer with a passion for learning and taking on new challenges. I have experience working with a variety of technologies, including Python, JavaScript, and React. I'm also proficient in a variety of other areas, such as data science, machine learning, and artificial intelligence.
                </p>
                <p>
                    I'm looking for freelance opportunities where I can use my skills and knowledge to help businesses solve their problems. I'm a highly motivated and results-oriented individual, and I'm confident that I can deliver high-quality work on time and within the customer's specifications.
                </p>
                <p>
                    If you're looking for a talented and experienced freelance software developer, I would be honored to discuss your project with you. 
                    Please feel free to contact me.
                </p>

                <div class="my-social-link-btn">
                    <a href="https://twitter.com/alazkaBoi " target="_blank"><i class="ri-twitter-fill"></i></a>
                    <a href="https://github.com/Alotab" target="_blank"><i class="ri-github-fill"></i></a>
                    <a href="https://www.linkedin.com/in/alotab/" target="_blank"><i class="ri-linkedin-box-fill"></i></a>
                </div>
            </div>

            <div class="my-profile-image">
                <img src="{% static 'images/dev.JPG'%}" alt="portfolio image"/>
            </div>
        </div>
        
    </div>
    <section class="portfolio-container">
        <div class="portfolio-card">
            <img src="{% static 'images/postImage.jpg'%}"  alt="blog-picture"/>

            <h3>Context Switching Can Improve Developer Performance And Boost</h3>
            <p>I used to get a lot of questions about how I managed to land a job in Amazon (part of the FAANG acronym) as an SDE-I </p>
            <div class="blog-metadata">
                <div class="blog-post-date">
                    <i class="ri-calendar-check-line"></i>
                    <div class="date">June, 12</div>
                </div>

                <div class="blog-tag">
                    <a href="#" class="blog-tags-icon">python</a>
                    <a href="#" class="blog-tags-icon">docker</a>
                    <a href="#" class="blog-tags-icon">github</a>
                </div>
            </div> 
        </div>

        <div class="portfolio-card">
            <img src="{% static 'images/postImage.jpg'%}" alt="blog-picture"/>

            <h3>Context Switching Can Improve Developer Performance And Boost</h3>
            <p>I used to get a lot of questions about how I managed to land a job in Amazon (part of the FAANG acronym) as an SDE-I </p>
            <div class="blog-metadata">
                <div class="blog-post-date">
                    <i class="ri-calendar-check-line"></i>
                    <div class="date">June, 12</div>
                </div>

                <div class="blog-tag">
                    <a href="#" class="blog-tags-icon">python</a>
                    <a href="#" class="blog-tags-icon">docker</a>
                    <a href="#" class="blog-tags-icon">github</a>
                </div>
            </div> 
        </div>

        <div class="portfolio-card">
            <img src="{% static 'images/postImage.jpg'%}"  alt="blog-picture"/>
            <h3>Context Switching Can Improve Developer Performance And Boost</h3>
            <p>I used to get a lot of questions about how I managed to land a job in Amazon (part of the FAANG acronym) as an SDE-I </p>
            <div class="blog-metadata">
                <div class="blog-post-date">
                    <i class="ri-calendar-check-line"></i>
                    <div class="date">June, 12</div>
                </div>

                <div class="blog-tag">
                    <a href="#" class="blog-tags-icon">python</a>
                    <a href="#" class="blog-tags-icon">docker</a>
                    <a href="#" class="blog-tags-icon">github</a>
                </div>
            </div> 
        </div>

        <div class="portfolio-card">
            <img src="{% static 'images/postImage.jpg'%}"  alt="blog-picture"/>

            <h3>Context Switching Can Improve Developer Performance And Boost</h3>
            <p>I used to get a lot of questions about how I managed to land a job in Amazon (part of the FAANG acronym) as an SDE-I </p>
            <div class="blog-metadata">
                <div class="blog-post-date">
                    <i class="ri-calendar-check-line"></i>
                    <div class="date">June, 12</div>
                </div>

                <div class="blog-tag">
                    <a href="#" class="blog-tags-icon">python</a>
                    <a href="#" class="blog-tags-icon">docker</a>
                    <a href="#" class="blog-tags-icon">github</a>
                </div>
            </div> 
        </div>

        <div class="portfolio-card">
            <img src="{% static 'images/postImage.jpg'%}"  alt="blog-picture"/>

            <h3>Context Switching Can Improve Developer Performance And Boost</h3>
            <p>I used to get a lot of questions about how I managed to land a job in Amazon (part of the FAANG acronym) as an SDE-I </p>
            <div class="blog-metadata">
                <div class="blog-post-date">
                    <i class="ri-calendar-check-line"></i>
                    <div class="date">June, 12</div>
                </div>

                <div class="blog-tag">
                    <a href="#" class="blog-tags-icon">python</a>
                    <a href="#" class="blog-tags-icon">docker</a>
                    <a href="#" class="blog-tags-icon">github</a>
                </div>
            </div> 
        </div>

        <div class="portfolio-card">
            <img  src="{% static 'images/postImage.jpg'%}" alt="blog-picture"/>

            <h3>Context Switching Can Improve Developer Performance And Boost</h3>
            <p>I used to get a lot of questions about how I managed to land a job in Amazon (part of the FAANG acronym) as an SDE-I </p>
            <div class="blog-metadata">
                <div class="blog-post-date">
                    <i class="ri-calendar-check-line"></i>
                    <div class="date">June, 12</div>
                </div>

                <div class="blog-tag">
                    <a href="#" class="blog-tags-icon">python</a>
                    <a href="#" class="blog-tags-icon">docker</a>
                    <a href="#" class="blog-tags-icon">github</a>
                </div>
            </div> 
        </div>

        <div class="portfolio-card">
            <img src="{% static 'images/postImage.jpg'%}"  alt="blog-picture"/>

            <h3>Context Switching Can Improve Developer Performance And Boost</h3>
            <p>I used to get a lot of questions about how I managed to land a job in Amazon (part of the FAANG acronym) as an SDE-I </p>
            <div class="blog-metadata">
                <div class="blog-post-date">
                    <i class="ri-calendar-check-line"></i>
                    <div class="date">June, 12</div>
                </div>

                <div class="blog-tag">
                    <a href="#" class="blog-tags-icon">python</a>
                    <a href="#" class="blog-tags-icon">docker</a>
                    <a href="#" class="blog-tags-icon">github</a>
                </div>
            </div> 
        </div>
    </section>
{% endblock %}