{% extends "blog/base.html" %}
{% load static %}

{%  block content %}

    <!-- Main Content -->
    <div class="main-content ck-content">
        <!-- left-colume content-->
        <div class="left-colume">

            <div class="tags">
                
                <h3 class="tag-headling">Popular Tags</h3>
                <div class="sidebar-nav">
                    {% for tag in tags %}
                    <div class="sidebar-nav-element">#{{ tag }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- middle-colume content -->
        <div class="middle-colume" id="post-container">

            <!-- search-icon to display in media query -->
            <div class="middle-colume-search"  id="mid-search">
                <input type="search" id="gsearch" name="gsearch" placeholder="Search...">
                <i class="ri-search-line search-icon" id="icon"></i>
            </div>

            <div class="community-post">
                <h2 class="community-name">DevWithCode</h2>
                <div class="community-post-headline">
                    <img src="{% static 'images/custome_home.avif'%}" alt="web-homepage-image">
                    <h4> Welcome to 📚 DevWithCode 🚀!</h4>
                    <span>I'm so glad you're here. This is a place where I share my thoughts and ideas, showcase my work, and connect with other like-minded people.</span>
                </div>
               

                <div class="community-tags">
                    <h5>Code 👌</h5>
                    <h5>Articles ✍️</h5>
                    <h5>Documentation 📚</h5>
                    <h5>Production 🚀</h5>
                </div>
                <p>Create Account</p>
            </div>

            <!--==================== content posts =============================-->
            <div class="middle-colume-post infinite-container" id="middle-colume-post">
                {% for post in posts %}
                <div class="post infinite-item ck-content">
                    <div class="author-profile">
                        <div class="author-image">
                            <a href="{% url 'portfolio' %}"><img src="{{ post.author.profile_image.url }}" alt="author"></a>
                           
                        </div>
                        <div class="post-author-details">
                            {% with author=post.author %}
                                <a href="{% url 'portfolio' %}"><p>{{ author.first_name}} {{ author.last_name}}</p></a>
                                <p id="time-tag"  class="post-date">{{ post.publish |date:'M d' }} &middot; {{ post.get_readtime }} read</p>
                             
                            {% endwith %}
                        </div>
                       
                    </div>
                    <div class="post-header">
                        <a href="{{ post.get_absolute_url }}">
                            <h4>{{ post.title | capfirst }}</h4>
                        </a>
                    </div>
                    <div class="post-tags">
                        {% for tag in post.tags.all %} 
                            <a class="post-tag-chrome" href="#"><span></span>{{ tag }}</a>
                        {% endfor %}
                    </div>
                


                    <!-- <div class="comment-share">
                        <div class="post-comment">
                            <a href="#">
                                <img src="{% static 'images/commentIcon.svg' %}" alt="comment" class="post-comment-icon">
                                <p>Add Comment</p>
                            </a>
                        </div>
                        <div class="post-share">
                            <a href="#"><img src="{% static 'images/share_2.svg' %}"></a>
                        </div>
                    </div> -->
                    
                </div>
                {% endfor %}
            </div>
            {% if page_obj.has_next %}
            <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
            {% endif %}
            
            <div class="d-flex justify-content-center" style="display:none;">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>

            <!-- <div class="load-post">
                <p>Load more stories</p>
            </div> -->
        </div>
        <!--=========================  left-colume conten =========================-->
        <div class="right-colume"></div>
    </div>


    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script> -->
    <!-- <script>
        $(document).ready(function(){
            var limit = 3;
            var start = 0;
            var action = 'inactive';
            function load_post(limit, start){
                $.ajax({
                    url:'fetch/',
                    method:'GET',
                    data: {
                        limit:limit,
                        start:start,
                    },
                    caches:false,
                    success:function(response){
                        $('#post-container').append(response);
                        if(response==""){
                            $('#load-more').html('<a href="#"><p>Loading more ...</p></a>')
                            action='active';
                        }else{
                            $('#load-more').html('<a href="#"><p>Loading more ...</p></a>')
                            action='inactive';
                        }
                    },
                })
            }

            if(action=='inactive'){
                action='active',
                load_post(limit, start);
            }
        });
    </script> -->
   
{% endblock %}